.e-shop-menu {
  max-width: 100%;
  width: 10000px;
  margin: -92px 0 0 100px;
}
.square-links {
  max-width: 2000px;
}
.logo-image {
  position: fixed;
  top: 0;
}
button {
  background-color: transparent;
  border-color: black;
  border-width: 1px;
  padding: 10px 100px;
  position: fixed;
  top: 0;
}
.custom {
  margin: 400px 1000px;
}
.ready-to-wear {
  margin: 400px 300px;
}
p {
  position: fixed;
  top: 0;
  margin: 380px 300px;
}
