html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  font-family: Helvetica;
}

section {
  display: flex;
  width: 100vw;
  height: 100vh;
  min-width: 2000px;
}

* {
  box-sizing: border-box;
}
img {
  width: 360px;
}
div.column {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50vw;
  height: 100%;
  background-size: cover;
  background-position: center;
}

div.column:first-child {
  background-image: url(../img/nicola_6.jpg);
}

div.column:last-child {
  background-image: url(../img/nicola_7.jpg);
}

a.button {
  display: block;
  width: 80%;
  height: 50px;
  line-height: 50px;
  text-align: center;
  border: 1px solid black;
  background-color: transparent;
  text-decoration: none;
}

.logo-image {
  position: fixed;
  top: 0;
}
